Business Requirement Document.docx
Code Documentation.docx
Project Charter.docx
Test Documentation.docx
bertopic_model
sentiment_results.csv
3-Saved-Model/
4-Results-Data/
backend/__pycache__
backend/venv
backend/backend_req.txt
frontend/node_modules
frontend/public
frontend/src
frontend/.gitignore
frontend/package-lock.json
frontend/package.json
frontend/README.md
frontend/tsconfig.json
frontend/tailwind.config.js
frontend/postcss.config.js
5-Documents/
